'.source.erlang':
  'Module':
    'prefix': 'mod '
    'body': '-module($1).\n$2'

  'Export':
    'prefix': 'exp '
    'body': '-export([$1]).\n$2'

  'Print':
    'prefix': 'p '
    'body': 'io:format("~p ~n", [$1]),\n$2'

  'Fun':
    'prefix': 'f '
    'body': 'fun() -> $1 end,$2'

  'Output':
    'prefix': 'o '
    'body': '% OUTPUT: $1\n$2'

  'Main Template':
    'prefix': 'main '
    'body': """
			-module(main).
			-export([init/0]).

			init() ->
				$1
				init:stop().
		"""
